<% include partials/header %>
  <body>
    <h1><%= title %></h1>
    <div class="main">
      <section class="ads-filter">
        <form action="" id="ads-filter-form">
          <div class="row">
              <div class="col-xl-3">
                <div class="ads-filter--item">
                  <div class="row ads-filter--item__price">
                    <div class="col-6">
                      <label for="min-price">Precio desde: <span></span></label>
                      <input type="range" class="custom-range" min="0" max="<%= data.top_price %>" value="<%= data.min_price %>" name="min-price" id="min-price">
                    </div>
                    <div class="col-6">
                      <label for="max-price">Precio hasta: <span></span></label>
                      <input type="range" class="custom-range" min="0" max="<%= data.top_price %>" value="<%= data.max_price %>" name="max-price" id="max-price">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2">
                <div class="ads-filter--item">
                  <div class="ads-filter--item__tags">
                      Tags:
                      <ul class="ads-filter--tags__list">
                        <% data.tags.forEach( function(tag) { %>
                          <li class="ads-filter--tags__list--item">
                            <input class="form-check-input" type="checkbox" name="tags[]" value="<%= tag.key %>" <%= tag.checked %>>
                            <label class="form-check-label" for="tags">
                              <%= tag.key %>
                            </label>
                          </li>
                        <% }); %>
                      </ul>
                  </div>
                </div>
              </div>
              <div class="col-xl-2">
                <div class="ads-filter--item">
                    <div class="ads-filter--item__type">
                        Marcado como:
                        <ul class="ads-filter--tags__list">
                          <li class="ads-filter--tags__list--item">
                            <input class="form-check-input" type="radio" name="sale" id="sale" value="true">
                            <label class="form-check-label" for="tags-lifestyle">
                              Se vende
                            </label>
                          </li>
                          <li class="ads-filter--tags__list--item">
                            <input class="form-check-input" type="radio" name="sale" id="sale" value="false">
                            <label class="form-check-label" for="tags-work">
                              Se busca
                            </label>
                          </li>
                        </ul>
                    </div>
                </div>
              </div>
              <div class="col-xl-3">
                <div class="ads-filter--item">
                    <div class="ads-filter--item__search">
                      <label class="sr-only" for="inlineFormInputGroup">Busca por nombre</label>
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="fas fa-search"></i></div>
                        </div>
                        <input type="text" class="form-control form-control-sm" name="name" id="name" placeholder="Busca por nombre">
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-xl-2">
                <div class="ads-filter--item">
                  <div class="ads-filter--item__submit">
                      <button type="submit" class="btn btn-primary">Filtrar</button>
                  </div>
                </div>
              </div>
          </div>
      </form>
      </section>
      <section class="ads">
        <div class="row">
          <% ads.forEach( function(ad) { %>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="ads--item">
                    <div class="ads--item__img"><img src="anuncios/<%= ad.img %>" alt="<%= ad.name %>"></div>
                    <div class="ads--item__text">
                      <div class="ads--item__text--price"><%= ad.price %> €</div>
                      <div class="ads--item__text--name"><p><%= ad.name %></p></div>
                      <div class="ads--item__text--tags"><small>Tags: <%= ad.tags %></small></div>
                    </div>
                    <div class="ads--item__sale">
                      <small><% if(ad.sale) { %> Se vende <% } else { %> Se busca <% } %></small>
                    </div>
                </div>
              </div>
          <% }); %>
        </div>
      </section>
    </div>

    <% include partials/footer %>
